/*index style*/
$baseWidth:100vw;
$baseHeight:100vh;
$outContainer:6rem;
$innerContainer:4rem;
$size:6;
$upRotate:3rem;
$rotate:2rem;
$sRotate:3rem;
$lucency:0.2;
@mixin middle(){
  margin:0 auto;
}
.cuboid-drag-container,.cuboid-drag-second-container{
  width:$baseWidth;
  height:$baseHeight;
  @include middle();
  position: relative;
  margin-top:20px;
  background: url("../img/timg.jpg") no-repeat center 50%;
  background-size: cover;
  transform-style: preserve-3d;
  .cuboid-drag-sun{
    position: absolute;
    top:1rem;
    z-index: 2;
    right: 4rem;
    img{
      width:3rem;
      height:3rem;
    }
  }
  .cuboid-drag-log{
    width:28rem;
    position: absolute;
    top:2rem;
    right:50%;
    margin-right: -14rem;
    z-index: 2;
    img{
      width:100%;
      height:100%;
    }
  }
  .cuboid-drop-board{
    @include middle();
    width:90%;
    height:60%;
    .cuboid-drop-target{
      width:100%;
      height:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      .cuboid-drop-item{
        width: $outContainer;
        height:$outContainer;
        position: relative;
        border:1px solid rgba(159, 41, 58, 0.3);
        .cuboid-drop-side{
          position: absolute;
          top: 0;
          left:0;
          width:100%;
          height:100%;
          display: none;
          border:1px solid #333;
          transform-style: preserve-3d;
          transform:rotateX(-90deg) translateZ($sRotate);
        }
        .cuboid-drop-side:nth-child(1){
          transform:rotateX(90deg) translateZ($sRotate);
          border-left: none;
          border-right: none;
        }
        .cuboid-drop-side:nth-child(2){
          transform:rotateX(-90deg) translateZ($sRotate);
          border-left: none;
          border-right: none;
        }
        .cuboid-drop-side:nth-child(3){
          transform:rotateY(90deg)  translateZ($sRotate);
          border-top: none;
          border-bottom: none;
          border-left: none;
          border-right: none;
        }
        .cuboid-drop-side:nth-child(4){
          transform:rotateY(-90deg)  translateZ($sRotate);
          border-top: none;
          border-bottom: none;
          border-left: none;
          border-right: none;
        }
        .cuboid-drop-side:nth-child(5){
          transform:translateZ($sRotate);
          border-left: none;
          border-right: none;
        }
        .cuboid-drop-side:nth-child(6){
          transform:translateZ(-$sRotate);
          border-left: none;
          border-right: none;
        }
      }
      .cuboid-drop-item:nth-child(1){
        background: url("../img/mie.jpg") no-repeat center 50%;
        background-size: cover;
        position: relative;
        .cuboid-drop-side:nth-child(1){
          border: 1px solid #333;
          border-right:none;
        }
        .cuboid-drop-side:nth-child(2){
          border: 1px solid #333;
          border-right:none;
        }
        .cuboid-drop-side:nth-child(4){
          border: 1px solid #333;
        }
        .cuboid-drop-side:nth-child(5){
          border: 1px solid #333;
          border-right: none;
        }
        .cuboid-drop-side:nth-child(6){
          border: 1px solid #333;
          border-right: none;
        }
      }
      .cuboid-drop-item:nth-child(2){
        background: url("../img/mie1.jpg") no-repeat center 50%;
        background-size: cover;
      }
      .cuboid-drop-item:nth-child(3){
        background: url("../img/mie2.jpg") no-repeat center 50%;
        background-size: cover;
      }
      .cuboid-drop-item:nth-child(4){
        background: url("../img/mie3.jpg") no-repeat center 50%;
        background-size: cover;
      }
      .cuboid-drop-item:nth-child(5){
        background: url("../img/mie4.jpg") no-repeat center 50%;
        background-size: cover;
      }
      .cuboid-drop-item:nth-child(6){
        background: url("../img/mie5.jpg") no-repeat center 50%;
        background-size: cover;
        .cuboid-drop-side:nth-child(1){
          border: 1px solid #333;
          border-left:none;
        }
        .cuboid-drop-side:nth-child(3){
          border: 1px solid #333;
        }
        .cuboid-drop-side:nth-child(5){
          border: 1px solid #333;
          border-left: none;
        }
        .cuboid-drop-side:nth-child(6){
          border: 1px solid #333;
          border-left: none;
        }
        .cuboid-drop-side:nth-child(2){
          border: 1px solid #333;
          border-left:none;
        }
      }
      .cuboid-drop-unify{
        background: #0bd8bd !important;
      }
    }
  }
  .cuboid-drop-success{
    .cuboid-drop-target{
      transform-style: preserve-3d;
      transform:rotateX(-10deg) rotateY(-4deg);
      .cuboid-drop-item{
        background: none !important;
        border:none !important;
        .cuboid-drop-side{
          display: block;
        }
        .cuboid-drop-side:nth-child(1){
          background: rgba(57, 215, 55, 0.4) !important;
        }
        .cuboid-drop-side:nth-child(2){
          background: rgba(57, 215, 55, 0.4) !important;
        }
        .cuboid-drop-side:nth-child(5){
          background: rgba(57, 215, 55, 0.4) !important;
        }
        .cuboid-drop-side:nth-child(6){
          background: rgba(57, 215, 55, 0.4) !important;
        }
      }
      .cuboid-drop-item:nth-child(1){
        .cuboid-drop-side:nth-child(4){
          background: rgba(57, 215, 55, 0.4) !important;
        }
      }
      .cuboid-drop-item:nth-child(6){
        .cuboid-drop-side:nth-child(3){
          background: rgba(57, 215, 55, 0.4) !important;
        }
      }
    }
  }
  .cuboid-drag-list{
    transform-style: preserve-3d;
    transform:rotateX(-8deg) rotateY(-8deg);
    @include middle();
    width:100%;
    height:15%;
    margin-top:20px;
    .cuboid-drag-station{
      width:100%;
      height:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .cuboid-drag-item{
        width: $outContainer;
        height:$outContainer;
        display: flex;
        align-items: center;
        .cuboid-drag-bar{
          @include middle();
          width: $outContainer;
          height:$outContainer;
          position: relative;
          .cuboid-drag-side{
            width:100%;
            height:100%;
            position: absolute;
            left: 0;
            top: 0;
            border:1px solid #712f0c;
          }
          .cuboid-drag-side:nth-child(1) {
            transform:rotateX(90deg) translateZ($sRotate);

          }
          .cuboid-drag-side:nth-child(2) {
            transform:rotateX(-90deg) translateZ($sRotate);
          }
          .cuboid-drag-side:nth-child(3) {
            transform:rotateY(90deg)  translateZ($sRotate);
          }
          .cuboid-drag-side:nth-child(4) {
            transform:rotateY(-90deg)  translateZ($sRotate);
          }
          .cuboid-drag-side:nth-child(5) {
            transform:translateZ($sRotate);
          }
          .cuboid-drag-side:nth-child(6) {
            width: 100%;
            height: 100%;
            transform:translateZ(-$sRotate);
          }
         // border:1px solid #ff0000;
        }
      }
      .cuboid-drag-item:nth-child(1){
        .cuboid-drag-bar{
          //border: 1px solid #ff0000;
          .cuboid-drag-side{
            background: rgba(52,238,174,$lucency);
          }
        }
      }
      .cuboid-drag-item:nth-child(2){
        .cuboid-drag-bar{
          .cuboid-drag-side{
            background: rgba(209,119,137,$lucency);
          }

        }
      }
      .cuboid-drag-item:nth-child(3){

        .cuboid-drag-bar{.cuboid-drag-side{
          background: rgba(169,164,25,$lucency);
        }

        }
      }
      .cuboid-drag-item:nth-child(4){

        .cuboid-drag-bar{.cuboid-drag-side{
          background: rgba(41,212,29,$lucency);
        }

        }
      }
      .cuboid-drag-item:nth-child(5){
        .cuboid-drag-bar{.cuboid-drag-side{
          background: rgba(89,164,165,$lucency);
        }

        }
      }
      .cuboid-drag-item:nth-child(6){
        .cuboid-drag-bar{.cuboid-drag-side{
          background: rgba(151,212,192,$lucency);
        }

        }
      }
      .cuboid-drag-success{
        width: $innerContainer;
        height:$innerContainer;
      }
    }
  }
  .cuboid-drag-next{
    width:10rem;
    height:8rem;
    position: absolute;
    right: 5rem;;
    bottom:3rem;
    img{
      width:100%;
      height:100%;
    }
  }
}
.cuboid-drag-second-container{
   display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/timg11.jpg") no-repeat center 50%;
  background-size: cover;
   .cuboid-drop-board{
     margin-top:4rem;
     .cuboid-drop-target{
       height:30%;
       width:$size*$outContainer/2;
       flex-wrap: wrap;
       @include middle();
       margin-top:14rem;
       .cuboid-drop-item{

       }
       .cuboid-drop-item:nth-child(1) {
         .cuboid-drop-side:nth-child(1) {

         }
       }
       .cuboid-drop-item:nth-child(2){
       }
       .cuboid-drop-item:nth-child(3){

       }
       .cuboid-drop-item:nth-child(4){

       }
       .cuboid-drop-item:nth-child(5){

       }
       .cuboid-drop-item:nth-child(6){

         .cuboid-drop-side:nth-child(1){

         }
         .cuboid-drop-side:nth-child(3){

         }
         .cuboid-drop-side:nth-child(5){

         }
         .cuboid-drop-side:nth-child(6){

         }
         .cuboid-drop-side:nth-child(2){

         }
       }
       .cuboid-drop-unify{

       }
     }
   }
  .cuboid-drop-success{
    .cuboid-drop-target{
      width: $size*$outContainer/2.1;
      transform-style: preserve-3d;
      transform:rotateX(-6deg) rotateY(-12deg);
      .cuboid-drop-item:nth-child(1) {
        .cuboid-drop-side:nth-child(2) {
            border:none;
          background: none !important;
        }
        .cuboid-drop-side:nth-child(4) {
          border-bottom:none;
        }
        .cuboid-drop-side:nth-child(3) {
            border-bottom:none;
        }
        .cuboid-drop-side:nth-child(5),.cuboid-drop-side:nth-child(6) {
          border-bottom:none;
        }
      }
      .cuboid-drop-item:nth-child(2){
        .cuboid-drop-side:nth-child(1){
          border-right:1px solid #333;
        }
        .cuboid-drop-side:nth-child(2) {
          border:none;
          background: none !important;
        }
        .cuboid-drop-side:nth-child(3) {
          border-top:none;
        }
        .cuboid-drop-side:nth-child(4) {
          border-bottom:none;
        }
        .cuboid-drop-side:nth-child(5),.cuboid-drop-side:nth-child(6) {
          border-bottom:none;
          border-right:1px solid #333;
        }
      }
      .cuboid-drop-item:nth-child(3){
        .cuboid-drop-side:nth-child(5),.cuboid-drop-side:nth-child(6) {
          border-bottom:none;
          border-top:none;
          border-left:1px solid #333;
        }
        .cuboid-drop-side:nth-child(2){
          border:none;
          background: none !important;
        }
        .cuboid-drop-side:nth-child(1){
          background: none !important;
          border:none;
        }

      }
      .cuboid-drop-item:nth-child(4){
        .cuboid-drop-side:nth-child(5),.cuboid-drop-side:nth-child(6) {
          border-bottom:none;
          border-top:none;
          border-right:1px solid #333;
        }
        .cuboid-drop-side:nth-child(1){
          background: none !important;
          border: none;
        }
        .cuboid-drop-side:nth-child(2){
          border:none;
          background: none !important;
        }
      }
      .cuboid-drop-item:nth-child(5){
        .cuboid-drop-side:nth-child(5),.cuboid-drop-side:nth-child(6) {
          border-top:none;
          border-left:1px solid #333;
        }
        .cuboid-drop-side:nth-child(1){
          border:none;
          background: none !important;
        }
        .cuboid-drop-side:nth-child(2){
          border-left:1px solid #333;
        }
      }
      .cuboid-drop-item:nth-child(6){

        .cuboid-drop-side:nth-child(5),.cuboid-drop-side:nth-child(6) {
          border-top:none;
        }
        .cuboid-drop-side:nth-child(1){
          border:none;
          background: none !important;
        }
        .cuboid-drop-side:nth-child(3){
          border-top:none;
        }
      }
    }
  }
   .cuboid-drag-list{
     height:0;
     position: relative;
     .cuboid-drag-again{
        height:6rem;
       width:10rem;
       position: absolute;
       right: 5rem;
       bottom:4rem;
       font-size: 4rem;
       color: #302f94;
       display: none;
     }
   }
 }
.cuboid-mask-layer{
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,0.9);
  position: absolute;
  top:0;
  left:0;
}